@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap%27');

/* Fontes do site */
.text-font{
	font-family: 'Montserrat', sans-serif;
	font-size:13pt;
  	font-weight: 800;
	margin: 10px;
}

.text-fonts-poli{
	font-family: 'Montserrat', sans-serif;
	color: rgb(0, 71, 71) !important;
	font-size:20pt;
	font-weight: 800;
}
 
/* fonte dos devs*/
.dev-fonts{
	font-family: 'Montserrat', sans-serif;
	font-size:13pt;
	font-weight: 800;
}

/* textos e cards */
.cards-and-texts{
	font-family: 'Montserrat', sans-serif;
	font-size:13pt;
	font-weight: 500;
}

/* fontes das funcoes*/
.funcoes{
	font-weight:bolder;
}
/* links dentro da lista ficam alinhados */
ul li a{
	
    border-radius: 5px;
    transition: .1s;
    color: white !important;
}


/* items da nav ficam com efeito quando o mouse passa por cima */
ul li a:hover, 
.navbar-nav:not(:hover) .current-page {
    background-color: white !important;
    color: black !important;
}


.listLinksMenu{
	color:white !important;
}


a.btn-iniciar:hover{
	color:yellow !important;
}
.white-color:hover{
    color: white !important;
}

.myTitle {
    font-family: 'Pattaya', sans-serif;
    font-size: 30pt;
    color: white;
}

.dropdown-item.text-white:hover {
    color: black !important;
}

.dropdown-menu {
    background: rgb(25, 142, 124)
}

.main {
    background-color: rgb(3, 114, 97);
    height: 300px;
}

.footer {
    
    
    color: white;
}

.footer-contents {
    list-style: none;
    color: white !important;
}

.footer-contents a {
    color: white;
    text-decoration: none;
}

.logo-size {
    height: 135px;
    width: 400px;
    margin-left: -20px;
}

.formFonts {
    color: white;
    font-size: 16pt;
}

.form-group.row input[type=checkbox] {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.formbg {
    background: rgb(0, 71, 71);
    border-radius: 15px;
}
.what-is-title{
	font-family:'Fredoka One', cursive;
    background-color: rgb(0, 71, 71);
}

.bd{
    border-radius: 5px;
}
.title{
    font-weight: 700;
}
.title-sz{
    font-size: 14pt;
}

.artitle-contents{
    background-color: blue;
    border-radius: 4px;
}


.what-is-poli{
    color: rgb(0, 71, 71) !important;
    font-weight: 900;
    font-size: 18pt;
}
.log-btn {
    background: rgb(25, 142, 124);
}

.sigmar {
    font-family: 'Montserrat', sans-serif;
}

@media(max-width: 991px) {
    .navbar-collapse {
        background-color: rgb(0, 71, 71);
    }
}

.btn-iniciar {
    color: black;
    border: none;
    background-color: rgb(66, 71, 186);
    padding: 9px;
    border-radius: 23px;
    font-size: 22pt;
    color: #F2DB0B;
}

.oqe {
    color: white;
    width: 100%;
    list-style: none;
}

.btn-list {
    background-color: yellow;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 14pt;
}


/* fliip*/

.Card {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-animate {
    position: relative;
    height: 348px;
    width: 250px;
    margin: 5px;
    margin-bottom: 10px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-animate .flip {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card-animate:hover .flip {
    transform: rotateY(180deg);
}

.front-card,
.back-card {
    position: absolute;
    backface-visibility: hidden;
}

.back-card {
    transform: rotateY(180deg);
}


.description{
	position:absolute;
	top:0;
	padding:10px 10px 0px 19px ;
	
}

.front-card img, .back-card img {
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3)
}

.flip-card-center {
    float: none;
    margin: auto;
}

.index-btn-quiz {
    border: none;
    padding: 15px;
    color: yellow;
    background-color: blue;
}

.bg-twitter:hover{
    color: #1DA1F2;
    background-color:#212529!important;
}

.bg-twitter, .bg-insta{
    font-size: 18pt;
}

.bg-insta:hover{
	color:pink;
	background-color:#212529 !important;
}
.card-animate-img-size{
    width: 90%;
}

.num{
    width: 50px;
    height: 50px;
    background-color: rgb(39, 96, 202);
    color: #F2DB0B;
    padding: 15px;
    border-radius: 200px;
    font-size: 20pt;
    font-weight: 800;
}


/* BASIC */


  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  

  
  h2.titles {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: white;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid white;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }

  input[type=password]:placeholder {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }


.log{
    font-weight: 800;
    font-size: 18pt;
}

.bg-quiz{
	 background: linear-gradient(to right, #1E715D, #373855) !important;
}



.ranking-quiz{
	border:none;
	padding:10px;
	background-color:#F4DD0D;
	width:200px;
	border-radius:9px;
	font-weight:600;
}


.orange-crown{
	color:#000;
}

/* fontes dos modais */
.modal-font-size{
	font-size:22pt;
}

.modal-list-color{
	background-color:#4247BA;
	padding:6px;
	width: 80%;
	margin-top:100px;
}

.modal-executivo-colors{
	font-family: 'Fredoka One', cursive;
	font-size: 17pt;
	color:rgb(255, 204, 11);
}

.modal-judiciario-colors{
	color:#4247BA;
}

.icons-titles{
	font-family: 'Fredoka One', cursive;
	text-decoration:none;
}

/* estilo do underline nos tooltips*/
.under{
	text-decoration:underline;
}

/* estilos do twitter e instagram (links) */
.no-decoration{
	text-decoration:none;
}

.no-decoration:hover{
	background-color:#212529 !important;;
}

/*icone do linked in nos cards*/
.linkedin-icon{
	filter: none;
}

.linkedin-icon:hover{
	background-color:#3498DB;
}

/*
	coisas do quiz, se der errado, deleta daqui
*/

.quiz-start-btn,
.quiz_info_box,
.quiz_box,
.quiz_result{
	
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
				0px 6px 20px 0px rgba(0, 0, 0, 0.19);
				
	
}

.quiz-start-btn{
	border:none;
	padding:10px;
	background-color:#4247BA;
	width:200px;
	border-radius:9px;
	font-weight:600;
	cursor:pointer;
}

.quiz_info_box{

	width:560px;
	background-color:white;
	color:black;
	
	opacity:0;
	pointer-events:none;
	transform:translate(-50%, -50%) scale(0.9);
}

.quiz_info_box.activeInfo,
.quiz_box.activeQuiz,
.quiz_result_box.activeResult{
	z-index:5;
	opacity:1;
	pointer-events:auto;
	transform:translate(-50%, -50%) scale(1);
}

.quiz_info_box .quiz_info_title{
	height:60px;
	width:100%;
	border-bottom:1px solid black;
	display:flex;
	align-items:center;
	padding:0px 35px;
	font-size:18pt;
	font-weight:900;
}

.quiz_info_box .quiz_info_list{
	padding:15px 35px;
}

.quiz_info_box .quiz_info_list .quiz_info{
	margin:5px 0px;
	font-size:13pt;
	
}

.quiz_info_box .quiz_info_list .quiz_info span{
	font-weight:800;
	color:yellow;
}

.quiz_info_box .quiz_buttons{
	height:60px;
	display:flex;
	align-items:center;
	justify-content:flex-end;
	padding:0px 35px;
	border-top:1px solid black;
}

.quiz_info_box .quiz_buttons button{
	margin:0px 5px;
	height:40px;
	width:100px;
	border:none;
	background:yellow;
	color:black;
	border-radius:5px;
	font-size:15pt;
	font-weight:600;
	cursor:pointer;
	transition:all 0.3 ease;
}

.quiz_info_box .quiz_buttons button:hover{
	color:blue;
}

.quiz_box{
	opacity:0;
	pointer-events:none;
	transform:translate(-50%, -50%) scale(0.9);
	width:560px;
	background-color:white;
	border-radius:5px;
}

.quiz_box header{
	position:relative;
	z-index:99;
	height:70px;
	padding:0px 35px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	border-radius:5px 5px 0px 0px;
	box-shadow:0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}


.quiz_box header .quiz_title{
	font-size:18pt;
	font-weight:700;
}

.quiz_box header .quiz_timer{
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:145px;
	height:45px;
	background:#0000a0;
	color:white;
	border:1px solid lightgray;
	border-radius:5px;
	padding:0px 8px;
}


.quiz_box header .quiz_timer .quiz_time_text{
	font-size:15pt;
	user-select:none;
	
}

.quiz_box header .quiz_timer .quiz_timer_sec {
	font-size:16pt;
	font-weight:600;
	background:darkgray;
	color:black;
	height:30px;
	width:40px;
	text-align:center;
	line-height:30px;
	border-radius:5px;
	user-select:none;
	
}

.quiz_box section{
	padding:25px 30px 20px 30px;
	background:#fff;
	
}


.quiz_box section .quiz_que_text{
	font-size:18pt;
	font-weight:500;
	
}

.quiz_box section .quiz_option_list{
	padding:20px 0px;
	display:block;
	
}

section .quiz_option_list .quiz_option{
	background:aliceblue;
	border:1px solid black;
	border-radius:5px;
	padding:8px 15px;
	margin-bottom:15px;
	font-size:13pt;
	display:flex;
	align-items:center;
	justify-content:space-between;
	cursor:pointer;
}


.quiz_option_list .quiz_option:last-child{
	margin-bottom:0px;	
}

.quiz_option_list .quiz_option .quiz_icon{
	height:26px;
	width:26px;
	border:2px solid transparent;
	border-radius:50%;
	text-align:center;
	font-size:13px;
	line-height:24px;
	pointer-events:none;
	
}

.quiz_option_list .quiz_option.correct{
	background-color:#2dff2d;
	color:black;
}

.quiz_option_list .quiz_option.incorrect{
	background-color:#ff4f4f;
	color:white;
}


.quiz_option_list .quiz_option .quiz_icon.tick{
	border-color:green;
	color:green;
}

.quiz_option_list .quiz_option .quiz_icon.cross{
	border-color:red;
	color:red;
}

.quiz_option_list .quiz_option.disabled{
	pointer-events:none;
}


.quiz_box footer{
	height:60px;
	width:100%;
	padding:0px 30px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	
}

.quiz_box footer .quiz_total_que span{
	display:flex;
	user-select:none;
	
}

footer .quiz_total_que span p{
	font-weight:600;
	padding:0px 5px;
		
}

footer .quiz_total_que span p:first-child{
	padding-left:0px;
}

footer .quiz_next_btn{
	display:none;
	height:40px;
	font-size:13pt;
	font-weight:600;
	border:none;
	border-radius:5px;
	outline:none;
	background:yellow;
	cursor:pointer;
	transition:all 0.3 ease;
	
}

footer .quiz_next_btn:hover{
	color:white;
}

.quiz_result_box{
	left:600px;
	top:320px;
	position:absolute;
	opacity:0;
	pointer-events:none;
	transform:translate(-50%, -50%) scale(0.9);
	background:white;
	width:450px;
	padding:25px 30px;
	border-radius:5px;
	display:flex;
	text-align:center;
	align-items:center;
	flex-direction:column;
	justify-content:space-between;
}

.quiz_result_box .quiz_icon{
	font-size:100px;
	color:orange;
	margin-bottom:10px;
	
}


.quiz_result_box .quiz_complete_text{
	font-size:20px;
	font-weight:600;
	
}

.quiz_result_box .quiz_score_text span{
	display:flex;
	margin:10px 0px;
	font-size:18px;
	
}

.quiz_score_text span p {
	font-weight:700;
	padding:0px 4px;
}

.quiz_result_box .quiz_buttons{
	display:flex;
	margin:20px 0px;
	
}

.quiz_result_box .quiz_buttons button{
	margin:0px 10px;
	height:40px;
	padding:0px 18px;
	border:none;
	outline:none;
	font-size:18px;
	border-radius:5px;
	background-color:orange;
	color:black;
}

.quiz_result_box .quiz_buttons button:hover{
	color:white;
}

/*
	 ate aqui
*/